.homePagePhoto{position: relative;
width: 1015px;
height: 849px;
left: 50px;
bottom: 105px;

background: url('../../../assets/homePage/FirstPage/homePagePhoto.jpg');
box-shadow: 5px 16px 23px 8px rgba(0, 0, 0, 0.25);
border-radius: 25px;
transform: rotate(-12deg);
}