body {
  margin: 4em;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: black;
  overflow: hidden;

  background : url('./assets/landingPage/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}


main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  overflow: hidden;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.toBottom {
  margin-top: 1em;
}

.FirstPage {
  margin-top: 6.5em;
}
.SecondPage {
  margin-top: 20em;
  height: 105vh;
}

.mini-logo {
  animation-name: vibrate;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.mini-logo:hover {
  transform: scale(1.25);
  cursor: pointer;
  animation-duration: 0s;
}

@keyframes vibrate {
  0% {
    transform: scale(1.015);
  }

  15% {
    transform: scale(1.025);
  }

  20% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  63% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.015);
  }

  80% {
    transform: scale(1.02);
  }

  87% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.5);
  }

  95% {
    transform: scale(1.035);
  }

  97% {
    transform: scale(1.045);
  }

  100% {
    transform: scale(1);
  }
}


